<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>Busqueda</servlet-name>
		<display-name>Busqueda</display-name>
		<description></description>
		<servlet-class>com.protalentoservlets.Busqueda</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Busqueda</servlet-name>
		<url-pattern>/busqueda</url-pattern>
	</servlet-mapping>
  
</web-app>
